{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-decorators",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {}
    }]
  ]
}
